// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

@media screen and (min-width: 1024px) {
  .layout-main {
    width: auto;
    margin: 0 !important;
  }
}

.app_info {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
}

.sim_report {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #007762ca;
}

.title_component {
  font-size: 2.5rem;
  font-weight: 900;
  // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 118, 98);
  margin-top: 5px;
}

.title_component_orange {
  font-size: 1.5rem;
  font-weight: 900;
  // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(239, 125, 28);
  margin-top: 5px;
}

.orange_font {
  color: #EF7D1C;
}

.sub_title_component {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(239, 125, 28);
  margin-top: 3px;
}

.sub_title_green_component {
  font-size: 1.5rem;
  font-weight: 900;
  color: #007762;
  margin-top: 2px;
  margin-bottom: 3px;
}

.sub_orange_component {
  font-size: 1.1rem;
  font-weight: 900;
  color: rgb(239, 125, 28);
}

.sub_green_component {
  font-size: 1.2rem;
  font-weight: 900;
  color: #007762;
}

.disable_content {
  background-color: #bc2121;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.header_component {
  background-color: rgb(0, 118, 98);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}


.grey_col {
  background-color: grey !important;
  color: white !important;
  font-weight: 500 !important;
}

.orange_col {
  background-color: rgb(239, 125, 28) !important;
  color: white !important;
  font-weight: 500 !important;
}

.red_col {
  background-color: rgb(239, 28, 28) !important;
  color: white !important;
  font-weight: 500 !important;
}

.green_col {
  background-color: rgb(0, 118, 98) !important;
  color: white !important;
  font-weight: 500 !important;
}


.yellow_col {
  background-color: rgb(253, 209, 0) !important;
  color: black !important;
  font-weight: 500 !important;
}

.grey_col {
  background-color: grey !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 500 !important;
}


.blue_col {
  background-color: rgb(43, 124, 169) !important;
  color: white !important;
  font-weight: 500 !important;
}

.title_date_component {
  font-weight: 900;
  font-size: 1.2rem;
  color: #007762;
}

.sub_date_component {
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(239, 125, 28);
}

.green_component {
  font-weight: 900 !important;
  font-size: 1.2rem !important;
  color: rgb(0, 118, 98) !important;

}

.orange_component {
  font-weight: 900 !important;
  font-size: 1.2rem !important;
  color: rgb(239, 125, 28) !important;
}

.grey_component {
  font-weight: 900;
  font-size: 1.2rem;
  color: grey;
}

.blue_component {
  font-weight: 900 !important;
  font-size: 1.2rem !important;
  color: rgb(43, 124, 169) !important;

}

.center {
  justify-content: center;
  text-align: center;
}

.right {
  justify-content: right;
  text-align: right;
}

.left {
  justify-content: left;
  text-align: left;
}



.p-fieldset {
  padding: 0.5rem 0.5rem;
}

.p-fieldset .p-fieldset-legend {
  padding: 1.25rem;
  border: 1px solid grey;
  color: rgb(0, 118, 98);
  font-weight: 700;
  border-radius: 6px;
}

.p-fieldset .p-fieldset-content {
  padding: 0.5rem 0.5rem;
}


.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  padding: 1rem;
  color: rgb(0, 118, 98);
  border-radius: 6px;
  transition: box-shadow 0.2s;
}

.p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
  padding: 0.2rem 0.2rem;
}

.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
  padding: 0.2rem 0.2rem;
}


// ==============CITO_GREEN=============
.p-button.p-button-cito_green,
.p-buttonset.p-button-cito_green>.p-button,
.p-splitbutton.p-button-cito_green>.p-button {
  color: #ffffff;
  background: #007762;
  border: 1px solid #6c757d;
}

.p-button.p-button-cito_green:enabled:hover,
.p-buttonset.p-button-cito_green>.p-button:enabled:hover,
.p-splitbutton.p-button-cito_green>.p-button:enabled:hover {
  background: #005e4d;
  color: #ffffff;
  border-color: #5a6268;
}

.p-button.p-button-cito_green:enabled:focus,
.p-buttonset.p-button-cito_green>.p-button:enabled:focus,
.p-splitbutton.p-button-cito_green>.p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem rgba(1, 161, 134, 0.5);
}

.p-button.p-button-cito_green:enabled:active,
.p-buttonset.p-button-cito_green>.p-button:enabled:active,
.p-splitbutton.p-button-cito_green>.p-button:enabled:active {
  background: #545b62;
  color: #ffffff;
  border-color: #4e555b;
}

.p-button.p-button-cito_green.p-button-outlined,
.p-buttonset.p-button-cito_green>.p-button.p-button-outlined,
.p-splitbutton.p-button-cito_green>.p-button.p-button-outlined {
  background-color: transparent;
  color: #6c757d;
  border: 1px solid;
}

.p-button.p-button-cito_green.p-button-outlined:enabled:hover,
.p-buttonset.p-button-cito_green>.p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-cito_green>.p-button.p-button-outlined:enabled:hover {
  background: rgba(0, 118, 98, 0.04);
  color: #6c757d;
  border: 1px solid;
}

.p-button.p-button-cito_green.p-button-outlined:enabled:active,
.p-buttonset.p-button-cito_green>.p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-cito_green>.p-button.p-button-outlined:enabled:active {
  background: rgba(0, 118, 98, 0.16);
  color: #6c757d;
  border: 1px solid;
}

.p-button.p-button-cito_green.p-button-text,
.p-buttonset.p-button-cito_green>.p-button.p-button-text,
.p-splitbutton.p-button-cito_green>.p-button.p-button-text {
  background-color: transparent;
  color: #6c757d;
  border-color: transparent;
}

.p-button.p-button-cito_green.p-button-text:enabled:hover,
.p-buttonset.p-button-cito_green>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-cito_green>.p-button.p-button-text:enabled:hover {
  background: rgba(0, 118, 98, 0.04);
  border-color: transparent;
  color: #6c757d;
}

.p-button.p-button-cito_green.p-button-text:enabled:active,
.p-buttonset.p-button-cito_green>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-cito_green>.p-button.p-button-text:enabled:active {
  background: rgba(0, 118, 98, 0.16);
  border-color: transparent;
  color: #6c757d;
}

// ---------------------------------------------

.p-button.p-button-cito_orange,
.p-buttonset.p-button-cito_orange>.p-button,
.p-splitbutton.p-button-cito_orange>.p-button {
  color: #ffffff;
  background: #EF7D1C;
  border: 1px solid #EF7D1C;
}

.p-button.p-button-cito_orange:enabled:hover,
.p-buttonset.p-button-cito_orange>.p-button:enabled:hover,
.p-splitbutton.p-button-cito_orange>.p-button:enabled:hover {
  background: #d66f15;
  color: #ffffff;
  border-color: #b95f10;
}

.p-button.p-button-cito_orange:enabled:focus,
.p-buttonset.p-button-cito_orange>.p-button:enabled:focus,
.p-splitbutton.p-button-cito_orange>.p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem rgba(239, 125, 28, 0.5);
}

.p-button.p-button-cito_orange:enabled:active,
.p-buttonset.p-button-cito_orange>.p-button:enabled:active,
.p-splitbutton.p-button-cito_orange>.p-button:enabled:active {
  background: #EF7D1C;
  color: #ffffff;
  border-color: #d26d15;
}

.p-button.p-button-cito_orange.p-button-outlined,
.p-buttonset.p-button-cito_orange>.p-button.p-button-outlined,
.p-splitbutton.p-button-cito_orange>.p-button.p-button-outlined {
  background-color: transparent;
  color: #6c757d;
  border: 1px solid;
}

.p-button.p-button-cito_orange.p-button-outlined:enabled:hover,
.p-buttonset.p-button-cito_orange>.p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-cito_orange>.p-button.p-button-outlined:enabled:hover {
  background: rgba(239, 125, 28, 0.04);
  color: #6c757d;
  border: 1px solid;
}

.p-button.p-button-cito_orange.p-button-outlined:enabled:active,
.p-buttonset.p-button-cito_orange>.p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-cito_orange>.p-button.p-button-outlined:enabled:active {
  background: rgba(239, 125, 28, 0.16);
  color: #6c757d;
  border: 1px solid;
}

.p-button.p-button-cito_orange.p-button-text,
.p-buttonset.p-button-cito_orange>.p-button.p-button-text,
.p-splitbutton.p-button-cito_orange>.p-button.p-button-text {
  background-color: transparent;
  color: #6c757d;
  border-color: transparent;
}

.p-button.p-button-cito_orange.p-button-text:enabled:hover,
.p-buttonset.p-button-cito_orange>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-cito_orange>.p-button.p-button-text:enabled:hover {
  background: rgba(239, 125, 28, 0.04);
  border-color: transparent;
  color: #6c757d;
}

.p-button.p-button-cito_orange.p-button-text:enabled:active,
.p-buttonset.p-button-cito_orange>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-cito_orange>.p-button.p-button-text:enabled:active {
  background: rgba(239, 125, 28, 0.16);
  border-color: transparent;
  color: #6c757d;
}

// -------------------------TAB VIEW--------------------------------
.p-tabview .p-tabview-nav {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-width: 0 0 2px 0;
}

.p-tabview .p-tabview-nav li {
  margin-right: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid #e5e7eb;
  border-width: 0 0 2px 0;
  border-color: transparent transparent rgb(113, 113, 122) transparent;
  background: #ffffff;
  color: rgb(0, 118, 98);
  padding: 1.25rem;
  font-weight: 700;
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  transition: none;
  margin: 0 0 -2px 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px rgb(0, 118, 98);
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  background: #ffffff;
  border-color: rgb(0, 118, 98);
  color: rgb(0, 118, 98);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: rgb(0, 118, 98);
  color: rgb(0, 118, 98);
}

.p-tabview .p-tabview-left-icon {
  margin-right: 0.5rem;
}

.p-tabview .p-tabview-right-icon {
  margin-left: 0.5rem;
}

.p-tabview .p-tabview-close {
  margin-left: 0.5rem;
}

.p-tabview .p-tabview-nav-btn.p-link {
  background: #ffffff;
  color: rgb(0, 118, 98);
  width: 3rem;
  box-shadow: 0 4px 6px -1px rgb(0, 118, 98), 0 2px 4px -1px rgb(0, 118, 98);
  border-radius: 0;
}

.p-tabview .p-tabview-nav-btn.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px rgb(0, 118, 98);
}

.p-tabview .p-tabview-panels {
  background: #ffffff;
  padding: 1.25rem;
  border: 0 none;
  color: rgb(0, 118, 98);
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

// ----------------------------BADGE---------------------
.customer-badge {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-Gold {
    background: #e7c637;
    color: #8a4b00;
  }

  &.status-Silver {
    background: #a7aecd;
    color: #5c6075;
  }

  &.status-Platinum {
    background: #56a7c5;
    color: #1b3947;
  }

  &.status-Diamond {
    background: #B3E5FC;
    color: #23547B;
  }

  &.status-Kosong {
    background-color: #de0149;
    color: #fff5f4;
  }
}

.customer {
  display: inline-block;
  border-radius: var(--border-radius);
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .3px;

  &.status-GOLD {
    background: #e7c637;
    color: #8a4b00;
  }

  &.status-SILVER {
    background: #626881;
    color: #e3e6f0;
  }

  &.status-PLATINUM {
    background: #56a7c5;
    color: #1b3947;
  }

  &.status-DIAMOND {
    background: #B3E5FC;
    color: #23547B;
  }

  &.status-Kosong {
    background: #de0149;
    color: #fff5f4;
  }
}

.bg-card {
  border-radius: var(--border-radius);

  &.status-Gold {
    background-color: #e7c637;

  }

  &.status-Silver {
    background-color: #a7aecd;

  }

  &.status-Platinum {
    background-color: #56a7c5;

  }

  &.status-Diamond {
    background-color: #B3E5FC;

  }
}

.p-sidebar {
  background: #E5E7E9;
  color: black;
  border: 1px solid #383838;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}


.p-menubar {
  padding: 0.5rem;
  background: rgb(0, 118, 98);
  color: #383838;
  border: 1px solid rgb(0, 118, 98);
  border-radius: 20rem;
}

.p-menubar .p-menuitem-link {
  padding: 0.75rem 1rem;
  color: #383838;
  border-radius: 0;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-menubar {
  &.router-link-exact-active {
    font-weight: 900;
    color: #f96008;
  }
}

.p-menubar .p-menuitem-link .p-menuitem-text {
  color: #383838;

}

.p-menubar .p-menuitem-link.router-link-exact-active .p-menuitem-text,
.p-menubar .p-menuitem-link.router-link-exact-active .p-menuitem-icon,
.p-menubar .p-menuitem-link.router-link-exact-active .p-submenu-icon {
  color: #f96008;
}

.p-menubar .p-menuitem-link .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0.5rem;
}

.p-menubar .p-menuitem-link .p-submenu-icon {
  color: rgba(255, 255, 255, 0.6);
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover {
  background: white;
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #d26d15;
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-menubar .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px #93cbf9;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
  padding: 0.75rem 1rem;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 3px;
  transition: box-shadow 0.2s;
  user-select: none;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
  color: rgba(255, 255, 255, 0.87);
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0.5rem;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-submenu-icon {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 0.5rem;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
  background: rgb(1, 104, 87);
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: rgba(255, 255, 255, 0.87);
  font-weight: bolder;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px rgb(1, 104, 87);
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover {
  background: rgb(2, 105, 88);
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-icon,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: rgba(255, 255, 255, 0.87);
}

.p-menubar .p-submenu-list {
  padding: 0.25rem 0;
  color: grey;
  font-weight: 900;
  background: white;
  border: 1px solid white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  width: 16.5rem;
  border-radius: 5px;
}

.p-menubar .p-submenu-list .p-menu-separator {
  border-top: 1px solid #383838;
  margin: 0.25rem 0;
}

.p-menubar .p-submenu-list .p-submenu-icon {
  font-size: 0.875rem;
}

.p-menubar .p-submenu-list .p-menuitem {
  margin: 0;
}

.p-menubar .p-submenu-list .p-menuitem:last-child {
  margin: 0;
}

.p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link {
  background: rgba(255, 255, 255, 0.03);
}

.p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text {
  color: #d26d15;
}

.p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-icon,
.p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon {
  color: #d26d15;
}

.p-menubar .p-menuitem.p-menuitem-link.router-link-exact-active .p-menuitem-text,
.p-menubar .p-menuitem.p-menuitem-link:hover .p-menuitem-text {
  color: #d26d15;
}


@media screen and (max-width: 960px) {
  .p-menubar {
    position: relative;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link,
  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover {
    background: rgba(221, 220, 220, 0.87);
  }

  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text,
  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #d26d15;
  }

  .p-menubar .p-menuitem-link.router-link-exact-active {
    font-weight: 900;
    color: #f96008;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-icon,
  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
    color: #d26d15;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon,
  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
    color: #d26d15;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon,
  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
    color: #d26d15;
  }

  .p-menubar .p-menuitem-link.router-link-exact-active .p-menuitem-text,
  .p-menubar .p-menuitem-link:hover .p-menuitem-text {
    color: #d26d15;
  }

  .p-menubar .p-menubar-button {
    display: flex;
    width: 2rem;
    height: 2rem;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }

  .p-menubar .p-menubar-button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.03);
  }

  .p-menubar .p-menubar-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px #93cbf9;
  }

  .p-menubar .p-menubar-root-list {
    margin-top: 1rem;
    position: absolute;
    display: none;
    padding: 0.25rem 0;
    background: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    width: 30rem;
    border-radius: 5px;
  }

  .p-menubar .p-menubar-root-list .p-menu-separator {
    border-top: 1px solid #383838;
    margin: 0.25rem 0;
  }

  .p-menubar .p-menubar-root-list .p-submenu-icon {
    font-size: 0.875rem;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem {
    width: 100%;
    position: static;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
    padding: 0.75rem 1rem;
    color: #383838;
    font-weight: bold;
    border-radius: 0;
    // transition: box-shadow 0.2s;
    user-select: none;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
    color: #383838;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
    color: #383838;
    margin-right: 0.5rem;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-submenu-icon {
    color: #383838;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
    background: white;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #d26d15;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
    color: #d26d15;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
    color: #d26d15;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    // box-shadow: inset 0 0 0 1px #93cbf9;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link>.p-submenu-icon {
    margin-left: auto;
    transition: transform 0.2s;
  }

  .p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link>.p-submenu-icon {
    transform: rotate(-180deg);
  }

  .p-menubar .p-menubar-root-list .p-submenu-list {
    width: 100%;
    position: static;
    box-shadow: none;
    border: 0 none;
  }

  .p-menubar .p-menubar-root-list .p-submenu-list .p-submenu-icon {
    transition: transform 0.2s;
    transform: rotate(90deg);
  }

  .p-menubar .p-menubar-root-list .p-submenu-list .p-menuitem-active>.p-menuitem-link>.p-submenu-icon {
    transform: rotate(-90deg);
  }

  .p-menubar .p-menubar-root-list .p-menuitem {
    width: 100%;
    position: static;
  }

  .p-menubar .p-menubar-root-list ul li a {
    padding-left: 2.25rem;
  }

  .p-menubar .p-menubar-root-list ul li ul li a {
    padding-left: 3.75rem;
  }

  .p-menubar .p-menubar-root-list ul li ul li ul li a {
    padding-left: 5.25rem;
  }

  .p-menubar .p-menubar-root-list ul li ul li ul li ul li a {
    padding-left: 6.75rem;
  }

  .p-menubar .p-menubar-root-list ul li ul li ul li ul li ul li a {
    padding-left: 8.25rem;
  }

  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: 1;
  }

  :root {
    --blue-50: #f5f9ff;
    --blue-100: #d0e1fd;
    --blue-200: #abc9fb;
    --blue-300: #85b2f9;
    --blue-400: #609af8;
    --blue-500: #3b82f6;
    --blue-600: #326fd1;
    --blue-700: #295bac;
    --blue-800: #204887;
    --blue-900: #183462;
    --green-50: #f4fcf7;
    --green-100: #caf1d8;
    --green-200: #a0e6ba;
    --green-300: #76db9b;
    --green-400: #4cd07d;
    --green-500: #22c55e;
    --green-600: #1da750;
    --green-700: #188a42;
    --green-800: #136c34;
    --green-900: #0e4f26;
    --yellow-50: #fefbf3;
    --yellow-100: #faedc4;
    --yellow-200: #f6de95;
    --yellow-300: #f2d066;
    --yellow-400: #eec137;
    --yellow-500: #eab308;
    --yellow-600: #c79807;
    --yellow-700: #a47d06;
    --yellow-800: #816204;
    --yellow-900: #5e4803;
    --cyan-50: #f3fbfd;
    --cyan-100: #c3edf5;
    --cyan-200: #94e0ed;
    --cyan-300: #65d2e4;
    --cyan-400: #35c4dc;
    --cyan-500: #06b6d4;
    --cyan-600: #059bb4;
    --cyan-700: #047f94;
    --cyan-800: #036475;
    --cyan-900: #024955;
    --pink-50: #fef6fa;
    --pink-100: #fad3e7;
    --pink-200: #f7b0d3;
    --pink-300: #f38ec0;
    --pink-400: #f06bac;
    --pink-500: #ec4899;
    --pink-600: #c93d82;
    --pink-700: #a5326b;
    --pink-800: #822854;
    --pink-900: #5e1d3d;
    --indigo-50: #f7f7fe;
    --indigo-100: #dadafc;
    --indigo-200: #bcbdf9;
    --indigo-300: #9ea0f6;
    --indigo-400: #8183f4;
    --indigo-500: #6366f1;
    --indigo-600: #5457cd;
    --indigo-700: #4547a9;
    --indigo-800: #363885;
    --indigo-900: #282960;
    --teal-50: #f3fbfb;
    --teal-100: #c7eeea;
    --teal-200: #9ae0d9;
    --teal-300: #6dd3c8;
    --teal-400: #41c5b7;
    --teal-500: #14b8a6;
    --teal-600: #119c8d;
    --teal-700: #0e8174;
    --teal-800: #0b655b;
    --teal-900: #084a42;
    --teal-1000: #007662;
    --orange-50: #fff8f3;
    --orange-100: #feddc7;
    --orange-200: #fcc39b;
    --orange-300: #fba86f;
    --orange-400: #fa8e42;
    --orange-500: #f97316;
    --orange-600: #d46213;
    --orange-700: #ae510f;
    --orange-800: #893f0c;
    --orange-900: #d26d15;
    --orange-cito: #d26d15;
    --bluegray-50: #f7f8f9;
    --bluegray-100: #dadee3;
    --bluegray-200: #bcc3cd;
    --bluegray-300: #9fa9b7;
    --bluegray-400: #818ea1;
    --bluegray-500: #64748b;
    --bluegray-600: #556376;
    --bluegray-700: #465161;
    --bluegray-800: #37404c;
    --bluegray-900: #282e38;
    --purple-50: #fbf7ff;
    --purple-100: #ead6fd;
    --purple-200: #dab6fc;
    --purple-300: #c996fa;
    --purple-400: #b975f9;
    --purple-500: #a855f7;
    --purple-600: #8f48d2;
    --purple-700: #763cad;
    --purple-800: #5c2f88;
    --purple-900: #432263;


  }

  p-table th {
    text-align: center;
  }

}


::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

::-webkit-scrollbar-track {
  border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #b9babc91;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(216, 219, 218, 0.559);
}